workflows/n8n/cathedral-reprocesador.json
{
  "name": "Cathedral · Reprocesador (UPDATE in-place)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Reprocesador",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "cathedral-reprocesador-9a7e2d4b-1f8c-4d3e-b0a9-c5f2e8d7b3a1",
        "responseMode": "responseNode",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "webhookId": "cathedral-reprocesador-webhook-001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xrnnrxUJLJVd6Lmb",
          "name": "Cathedral Internal Token"
        }
      }
    },
    {
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst targetId = body.target_invoice_id;\nif (!targetId || typeof targetId !== 'string') throw new Error('Missing target_invoice_id');\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRe.test(targetId)) throw new Error('Invalid target_invoice_id format (must be uuid)');\nreturn [{ json: { target_invoice_id: targetId, trigger_source: body.trigger_source || 'unknown' } }];"
      }
    },
    {
      "id": "fetch-invoice",
      "name": "GET Supabase Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [640, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "=https://cpqsnajuypgjjapvbqsr.supabase.co/rest/v1/invoices?id=eq.{{ $json.target_invoice_id }}&select=id,drive_file_id,drive_url,email_message_id,email_account,file_hash,concept,ai_data,ai_confidence,reprocess_attempts,manually_edited,review_status,original_filename",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "5xRFcnO4yGdhD4pN",
          "name": "Supabase Service Role - Cathedral"
        }
      }
    },
    {
      "id": "normalize-invoice",
      "name": "Normalize Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst target_invoice_id = $('Validate Payload').first().json.target_invoice_id;\nfunction skip(reason) { return [{ json: { found: false, target_invoice_id, drive_file_id: '', manually_edited: false, reprocess_attempts: 0, should_reprocess: false, skip_reason: reason } }]; }\nif (items.length === 0) return skip('no_supabase_items');\nconst raw = items[0].json;\nconst row = Array.isArray(raw) ? raw[0] : raw;\nif (!row || !row.id) return skip('row_not_found');\nconst driveOk = typeof row.drive_file_id === 'string' && row.drive_file_id.length > 0;\nconst notEdited = row.manually_edited !== true;\nconst attemptsOk = (row.reprocess_attempts || 0) < 3;\nconst notReviewed = !(row.review_status === 'revisado' || row.review_status === 'confirmado');\nconst should_reprocess = driveOk && notEdited && attemptsOk && notReviewed;\nlet reason = '';\nif (!driveOk) reason = 'no_drive_file_id';\nelse if (!notEdited) reason = 'manually_edited';\nelse if (!attemptsOk) reason = 'attempts_cap_reached';\nelse if (!notReviewed) reason = 'already_reviewed';\nreturn [{ json: { found: true, ...row, should_reprocess, skip_reason: reason || null } }];"
      }
    },
    {
      "id": "check-row-exists",
      "name": "¿Row Existe + Reprocessable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1040, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "should-reprocess",
              "leftValue": "={{ $json.should_reprocess }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "drive-download",
      "name": "Google Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1040, 200],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Normalize Invoice').first().json.drive_file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MjQgmeWeSIGSjhrJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "prepare-ocr-input",
      "name": "Preparar Input OCR Cascade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 200],
      "parameters": {
        "jsCode": "const invoice = $('Normalize Invoice').first().json;\nconst binary = $input.first().binary || {};\nconst dataBin = binary.data || {};\nconst fileName = invoice.original_filename || 'reprocess.pdf';\nconst ext = (fileName.split('.').pop() || 'pdf').toLowerCase();\nconst mime = dataBin.mimeType || (ext === 'pdf' ? 'application/pdf' : `image/${ext}`);\n\n// Leer buffer en contexto Reprocesador (mismo execution, NO cross-boundary).\n// Workaround bug n8n filesystem-v2 cross-execution binary (GH #12625, #15891).\n// Sub-workflow OCR Cascade lee item._attachment_b64 con fallback a getBinaryDataBuffer.\nlet _attachment_b64 = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  _attachment_b64 = buf.toString('base64');\n  console.log('[Reprocesador] buffer size:', buf.length, 'bytes; base64 length:', _attachment_b64.length);\n} catch (e) {\n  console.error('[Reprocesador] getBinaryDataBuffer fallido:', e.message);\n  throw new Error(`[Reprocesador] Drive Download produjo binary inaccesible para drive_file_id=${invoice.drive_file_id}: ${e.message}`);\n}\n\nreturn [{\n  json: {\n    supabase_id: invoice.id,\n    drive_file_id: invoice.drive_file_id,\n    email_message_id: invoice.email_message_id,\n    email_account: invoice.email_account,\n    fileName,\n    originalFileName: fileName,\n    fileExtension: ext,\n    fileHash: invoice.file_hash,\n    fileMime: mime,\n    fileSize: dataBin.fileSize || 0,\n    binaryPropertyName: 'data',\n    _attachment_mime: mime,\n    _attachment_b64,\n    _reprocess_mode: true,\n    _reprocess_attempts_prev: invoice.reprocess_attempts || 0\n  },\n  binary: { data: dataBin }\n}];"
      }
    },
    {
      "id": "call-ocr-webhook",
      "name": "Call OCR Cascade Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1440, 200],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.cathedralgroup.es/webhook/ocr-cascade-direct-a3f7b2e1-c8d9-4e5f-b1a2-7d6c8e9f0a1b",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pdf_b64: $json._attachment_b64, fileName: $json.fileName, originalFileName: $json.originalFileName, fileExtension: $json.fileExtension, mimeType: $json.fileMime, fileHash: $json.fileHash, supabase_id: $json.supabase_id, drive_file_id: $json.drive_file_id, email_message_id: $json.email_message_id, email_account: $json.email_account }) }}",
        "options": {
          "timeout": 180000,
          "response": {
            "response": { "fullResponse": false }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "xrnnrxUJLJVd6Lmb",
          "name": "Cathedral Internal Token"
        }
      }
    },
    {
      "id": "build-patch",
      "name": "Build PATCH Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 200],
      "parameters": {
        "jsCode": "const ocr = $input.first().json;\nconst prev = $('Preparar Input OCR Cascade').first().json;\nconst invoice = $('Normalize Invoice').first().json;\n\nconst campos = ocr.campos_finales || {};\nconst newConfidence = ocr.ai_confidence;\nconst aiData = { ...campos, ai_provider: ocr.ai_provider, _mistral_discrepancies: ocr._mistral_discrepancies || [], _routing_hints: ocr._routing_hints || {} };\n\nconst patchBody = {\n  ai_data: aiData,\n  ai_confidence: newConfidence,\n  reprocess_attempts: (prev._reprocess_attempts_prev || 0) + 1,\n  last_reprocess_at: new Date().toISOString()\n};\n\nif (typeof campos.amount_total === 'number') patchBody.amount_total = campos.amount_total;\nif (typeof campos.amount_base === 'number') patchBody.amount_base = campos.amount_base;\nif (typeof campos.vat_amount === 'number') patchBody.vat_amount = campos.vat_amount;\nif (campos.supplier_nif) patchBody.supplier_nif = campos.supplier_nif;\nif (campos.supplier_name) patchBody.supplier_name = campos.supplier_name;\nif (campos.invoice_number) patchBody.invoice_number = campos.invoice_number;\nif (campos.issue_date) patchBody.issue_date = campos.issue_date;\nif (campos.due_date) patchBody.due_date = campos.due_date;\n\nreturn [{ json: { target_invoice_id: invoice.id, patch_body: patchBody, new_confidence: newConfidence } }];"
      }
    },
    {
      "id": "patch-invoice",
      "name": "PATCH Supabase Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1840, 200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://cpqsnajuypgjjapvbqsr.supabase.co/rest/v1/invoices?id=eq.{{ $json.target_invoice_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch_body) }}",
        "options": {},
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "5xRFcnO4yGdhD4pN",
          "name": "Supabase Service Role - Cathedral"
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2040, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, updated_id: $('Build PATCH Body').first().json.target_invoice_id, new_confidence: $('Build PATCH Body').first().json.new_confidence, reprocess_attempts: $('Build PATCH Body').first().json.patch_body.reprocess_attempts }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1040, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: 'protected_or_no_drive_file_or_attempts_cap', target_invoice_id: $('Validate Payload').first().json.target_invoice_id }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook Reprocesador": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "GET Supabase Invoice", "type": "main", "index": 0 }]]
    },
    "GET Supabase Invoice": {
      "main": [[{ "node": "Normalize Invoice", "type": "main", "index": 0 }]]
    },
    "Normalize Invoice": {
      "main": [[{ "node": "¿Row Existe + Reprocessable?", "type": "main", "index": 0 }]]
    },
    "¿Row Existe + Reprocessable?": {
      "main": [
        [{ "node": "Google Drive Download", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive Download": {
      "main": [[{ "node": "Preparar Input OCR Cascade", "type": "main", "index": 0 }]]
    },
    "Preparar Input OCR Cascade": {
      "main": [[{ "node": "Call OCR Cascade Webhook", "type": "main", "index": 0 }]]
    },
    "Call OCR Cascade Webhook": {
      "main": [[{ "node": "Build PATCH Body", "type": "main", "index": 0 }]]
    },
    "Build PATCH Body": {
      "main": [[{ "node": "PATCH Supabase Invoice", "type": "main", "index": 0 }]]
    },
    "PATCH Supabase Invoice": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 180,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "_deployment_notes": {
    "auth": "Bearer CATHEDRAL_INTERNAL_TOKEN via Webhook node authentication=headerAuth + credential xrnnrxUJLJVd6Lmb (existing). NO HMAC porque n8n Community no soporta $vars y $env requiere container restart (validator-refuted 17/05/2026)",
    "drive_credential": "Google Drive OAuth2 id=MjQgmeWeSIGSjhrJ name='Google Drive account' (reused from workflow general)",
    "ocr_subworkflow": "MChKC2AfyqpNzCAY · Cathedral · OCR Cascade (sub) · Sub Output JSON-only (safe cross-workflow binary)",
    "deploy_steps": [
      "1. POST /api/v1/workflows (CREATE NEW workflow, safe per feedback_n8n_no_put_api.md)",
      "2. Capture workflowId from response",
      "3. POST /rest/workflows/{id}/activate with {versionId} via cookie session (per feedback_n8n_draft_active.md)",
      "4. Smoke test: curl POST with Authorization Bearer <CATHEDRAL_INTERNAL_TOKEN> + body {target_invoice_id: <UUID>}",
      "5. Verify PATCH applied + reprocess_attempts incremented + ai_confidence updated"
    ]
  }
}
