workflows/n8n/cathedral-agent-dispatch.json
{
  "name": "Cathedral-Agent-Dispatch (Op 2 event-driven)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Dispatch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "cathedral-agent-dispatch-791d17ed-d20e-4be0-b532-f7caee3ba700",
        "responseMode": "responseNode",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "webhookId": "cathedral-agent-dispatch-webhook-001"
    },
    {
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body || !body.dispatch_id) {\n  throw new Error('Missing dispatch_id in webhook body');\n}\nreturn [{ json: { dispatch_id: body.dispatch_id } }];"
      }
    },
    {
      "id": "claim-dispatch",
      "name": "Claim Dispatch Atomic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://cpqsnajuypgjjapvbqsr.supabase.co/rest/v1/agent_dispatch_queue?id=eq.{{ $json.dispatch_id }}&status=eq.pending",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"running\",\n  \"started_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "5xRFcnO4yGdhD4pN",
          "name": "Supabase Service Role - Cathedral"
        }
      }
    },
    {
      "id": "if-claimed",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        840,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "claim-check",
              "leftValue": "={{ $json.id || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        100
      ],
      "parameters": {
        "jsCode": "const dispatch = $('Claim Dispatch Atomic').first().json || {};\nconst PROMPTS = {\n  health_monitor: 'Eres Cathedral Health Diagnose Agent. Recibir\u00e1s un incident detectado por monitoring pasivo Cathedral (disco, pdf2img, n8n exec errors, health endpoint). Devuelve SOLO JSON estricto: { \"diagnosis\": \"texto\", \"proposed_fix\": \"texto\", \"confidence\": 0.0-1.0, \"severity\": \"low|medium|critical\" }. NUNCA auto-aplica fix. David aprueba manual.',\n  bug_diagnose: 'Eres Cathedral Bug Diagnose Agent. Recibir\u00e1s un spike de errores n8n workflow (exceptions_log). Payload: total_1h, top_cluster (source+ai_guess+count), samples (5 raw excerpts recientes). Tu trabajo: (1) identificar patr\u00f3n causa-ra\u00edz concreto (workflow nodo, problema upstream); (2) proponer fix t\u00e9cnico espec\u00edfico NO gen\u00e9rico; (3) confidence honesto 0.9 solo patr\u00f3n clar\u00edsimo. Devuelve SOLO JSON estricto: { \"diagnosis\": \"texto\", \"proposed_fix\": \"texto\", \"confidence\": 0.0-1.0, \"severity\": \"low|medium|critical\", \"root_cause_category\": \"n8n_node_bug | upstream_service | data_pattern | infrastructure | unknown\" }. NUNCA auto-aplica.',\n  pre_deploy_validator: 'Eres Cathedral Pre-Deploy Validator Agent. Stub futuro S2.',\n  project_classifier: 'Eres Cathedral Project Classifier Agent. Stub futuro S3.',\n  director: 'Eres Cathedral Director Agent. Stub futuro Fase 3.',\n  slo_monitor: 'Eres Cathedral SLO Monitor Agent. Stub futuro.'\n};\nconst systemPrompt = PROMPTS[dispatch.agent_name];\nif (!systemPrompt) {\n  throw new Error(`Unknown agent_name: ${dispatch.agent_name}`);\n}\nreturn [{ json: { ...dispatch, system_prompt: systemPrompt } }];"
      }
    },
    {
      "id": "anthropic-diagnose",
      "name": "Anthropic Haiku Diagnose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 1024, system: $('Build Prompt').first().json.system_prompt, messages: [{ role: 'user', content: 'Incident: agent=' + $('Build Prompt').first().json.agent_name + ' event=' + $('Build Prompt').first().json.event_type + ' severity=' + $('Build Prompt').first().json.severity + ' payload=' + JSON.stringify($('Build Prompt').first().json.trigger_payload || {}) }] }) }}",
        "options": {
          "timeout": 60000
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "9mYndolLYuCwoH8E",
          "name": "Anthropic API - Cathedral Agents"
        }
      }
    },
    {
      "id": "parse-cost",
      "name": "Parse + Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet text = resp.content?.[0]?.text || '{}';\ntext = text.replace(/^```(?:json)?\\s*/, '').replace(/```\\s*$/, '').trim();\nlet parsed = {};\ntry { parsed = JSON.parse(text); } catch (e) { parsed = { diagnosis: text.slice(0, 500), parse_failed: true }; }\nconst inputTokens = resp.usage?.input_tokens || 0;\nconst outputTokens = resp.usage?.output_tokens || 0;\nconst costUsd = (inputTokens / 1e6 * 1.0) + (outputTokens / 1e6 * 5.0);\nconst dispatch = $('Claim Dispatch Atomic').first().json || {};\n// Extract extra fields beyond standard (diagnosis/proposed_fix/confidence/severity)\nconst STANDARD = new Set(['diagnosis','proposed_fix','confidence','severity']);\nconst extra = {};\nfor (const k of Object.keys(parsed)) {\n  if (!STANDARD.has(k)) extra[k] = parsed[k];\n}\nreturn [{\n  json: {\n    dispatch_id: dispatch.id,\n    agent_name: dispatch.agent_name,\n    diagnosis: (parsed.diagnosis || 'unknown').slice(0, 4000),\n    proposed_fix: parsed.proposed_fix ? String(parsed.proposed_fix).slice(0, 2000) : null,\n    confidence: typeof parsed.confidence === 'number' ? parsed.confidence : null,\n    severity: parsed.severity || dispatch.severity,\n    tokens_used: inputTokens + outputTokens,\n    cost_usd: Math.round(costUsd * 100000) / 100000,\n    extra_context: extra\n  }\n}];"
      }
    },
    {
      "id": "insert-diagnosis",
      "name": "INSERT agent_diagnoses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cpqsnajuypgjjapvbqsr.supabase.co/rest/v1/agent_diagnoses",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ dispatch_id: $json.dispatch_id, agent_name: $json.agent_name, trigger_source: 'event', trigger_context: $json.extra_context || {}, diagnosis: $json.diagnosis, proposed_fix: $json.proposed_fix, confidence: $json.confidence, tokens_used: $json.tokens_used, cost_usd: $json.cost_usd, model_version: 'claude-haiku-4-5', status: 'pending' }) }}",
        "options": {},
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "5xRFcnO4yGdhD4pN",
          "name": "Supabase Service Role - Cathedral"
        }
      }
    },
    {
      "id": "update-queue-done",
      "name": "UPDATE queue done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1640,
        220
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://cpqsnajuypgjjapvbqsr.supabase.co/rest/v1/agent_dispatch_queue?id=eq.{{ $('Parse + Cost').first().json.dispatch_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'done', completed_at: new Date().toISOString(), cost_usd: $('Parse + Cost').first().json.cost_usd, diagnosis: $('Parse + Cost').first().json.diagnosis, proposed_fix: $('Parse + Cost').first().json.proposed_fix }) }}",
        "options": {},
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "5xRFcnO4yGdhD4pN",
          "name": "Supabase Service Role - Cathedral"
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, dispatch_id: $('Parse + Cost').first().json.dispatch_id, diagnosis_inserted: true, cost_usd: $('Parse + Cost').first().json.cost_usd }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: 'already_processed_or_circuit_broken' }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Dispatch": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Claim Dispatch Atomic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Dispatch Atomic": {
      "main": [
        [
          {
            "node": "Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claimed?": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Haiku Diagnose": {
      "main": [
        [
          {
            "node": "Parse + Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Cost": {
      "main": [
        [
          {
            "node": "INSERT agent_diagnoses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT agent_diagnoses": {
      "main": [
        [
          {
            "node": "UPDATE queue done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE queue done": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Anthropic Haiku Diagnose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 120,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}